pandas==0.21.0
numpy==1.18.1
PyWavelets==0.5.2
tensorflow_addons==0.9.1
tifffile==2020.2.16
matplotlib==3.1.1
tfwavelets==0.1
numba==0.46.0
scipy==1.4.1
opencv_python==3.3.0.10
astropy==3.0.4
tensorflow==2.1.0
